name: cd
on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "deploying code"
  testCompositeAction:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup-python

